h1,h2,h3,h4,h5,h6,p,a,span {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 22px;
    font-weight: 600;
}
h3 {
    font-size: 17px;
    font-weight: 600;
}
h3.subtitle {
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 25px;
}
.link {
    color: #116262;
    font-weight: bold;
}

h4 {
    color: #116262;
    font-size: 22px;
    margin-bottom: 16px;
}

h4:first-child {
    border-top: none;
    padding-top: initial;
}

.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #000;
    margin: 0 0 25px;
    font-size: 14px;
    line-height: 21px;
}
a {
    color: #0062a1;
    text-decoration: underline;
}
.button {
    box-shadow: none;
}
.no-border {
    border: none;
}

.static {
    position: static;
}

.bold {
    font-weight: bold;
}

.border-top {
    border-top: solid 1px #ccc;
    padding-top: 30px;
}

.blue-grey-900 {
    background-color: #263238 !important;
    color: #fff;
}
/* Menu */

.menu .item {
    background-color: transparent;
    border: 0;
    padding: 10px !important;
}
.menu .bar.bar-header.expanded {
    background: #0062a1;
    transition: all .5s ease-in-out;
}

.menu.menu-left * {
    font-weight: bold;
}

.item-radio input:checked ~ .item-content {
    background: transparent;
}
.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

.item.item-radio .radio-icon {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.item.item-radio:active .radio-icon {
    opacity: 0;
    transform: scale(1.6);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.menu .list .item {
    padding: 0 !important;
}
.menu .item-complex .item-content {
    padding: 15px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.menu .item-complex .item-content {
    padding: 15px;
}
.menu .stable-bg {
    background-color: #e0e0e0;
}
.menu .item-complex .item-content:hover {
    background-color: #0062a1;
    color: #fff;
}
.menu .item-image{
    text-align: center;
}
.menu .item-image img{
    height: 75px;
    width: auto;
}
.menu .bar.bar-header.expanded{
    min-height: 100px;
}
.menu .has-expanded-header{
    top: 100px !important;
}
.directions.button-bar {
    margin: 0 auto;
    width: 33.333%;
}

.directions.button-bar button {
    line-height: 26px;
}

.ion-arrow-right-c.top-left:before {
    transform: rotate(-135deg);
}

.ion-arrow-right-c.top-right:before {
    transform: rotate(-45deg);
}

.ion-arrow-right-c.bottom-left:before {
    transform: rotate(-225deg);
}

.ion-arrow-right-c.bottom-right:before {
    transform: rotate(45deg);
}

#modal {
    background-color: #ef4e3a;
    border-radius: 100%;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.2);
    position: fixed;
    height: 50%;
    bottom: 0;
    opacity: 0;
    width: 700px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.expand #modal {
    background-color: #DBDBDB;
    border-radius: 0;
    border-top: solid 4px #ef4e3a;
    opacity: 1;
    z-index: 9;
}


/* CODE */
.row {
    padding: 5px 10px;
}
label.custom-label {
    padding: 0;
    border-radius: 4px;
}
label.label-reason {
    margin-top: 30px;
}
label.custom-label span.input-label {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 5px;
    color: #000;
}
label.custom-label select {
    position: relative;
    padding: 0;
    max-width: 100%;
    width: 100%;
    text-align: left;
    direction: ltr;
}
label.custom-label input, label.custom-label textarea, label.custom-label select, label.custom-label input[type="file"] {
    background-color: #e9eef3;
    border-radius: 4px;
    min-width: 38px;
    height: 38px;
    width: 100%;
    padding: 10px;
    line-height: 18px;
}
label.custom-label.item-select:after {
    margin-top: 6px;
}
label.custom-label textarea {
    min-height: 80px;
}
label.custom-label input[type="file"] {
    padding: 7px 10px;
}
label.label-reason textarea {
    line-height: 21px;
    min-height: 100px;
}
.bar {
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: none;
    background-image: none;
    border:0;
    height: 50px;
}
.bar.bar-balanced {
    background-color: #a3bf31;
    background-image: none;
}
.bar.bar-white {
    background-color: #fff;
    background-image: none;
    border: 0;
}
.bar.bar-white.bar-bordered {
    border-bottom: 1px solid #00629E;
}
.bar h3 {
    color: #000;
    padding: 13px 0 5px 0;
    margin-bottom: 0;
}
.bar .tasks-info {
    font-size: 13px;
    padding: 13px 0 5px 0;
}
.bar .tasks-info span {
    color: #0062a1;
}
.pane .button {
    font-size: 12px;
    color: #ffffff;
    font-weight: 600;
    box-shadow: none;
    border-radius: 4px;
    padding: 0 20px;
    height: 38px;
    min-height: 38px;
    line-height: 38px;
    border: 0;
}
.pane .button.button-mid {
    padding: 0 12px;
    margin-left: 10px;
}
.pane .button.full-btn {
    width: 100%;
}
.pane .button.half-btn {
    width: 50%;
}
.pane .button.button-mid:nth-child(1) {
    margin-left: 0;
}
.pane .button.button-positive {
    background-color: #0062a1;
}
.pane .button.button-balanced {
    background-color: #a3bf31;
}
.pane .button.button-assertive {
    background-color: #f1564a;
}
.button-bar > .button:last-child {
    border: 0;
}
.title-bar h3 {
    margin: 10px 0;
    color: #fff;
}
.button.active, .button.activated {
    box-shadow: none;
    border: 0;
}
.code {
    color: #333;
    font-family: monospace;
    padding: 10px;
    white-space: pre;
}

.code-wrapper {
    padding-bottom: 30px;
    padding-top: 15px;
}

.code-wrapper::before {
    color: #1B5E20;
    font-family: "Ionicons";
    speak: none;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: '\f216 ';
}

.code-wrapper.active::before {
    content: '\f207 ';
}

.code-wrapper .toggle {
    color: #4CAF50;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 8px;
    text-decoration: underline;
}

.code-wrapper .code {
    opacity: 0;
    margin-top: -20px;
    height: 0;
    overflow: hidden;
    position: absolute;
    transition: 0.1s all ease-in-out;
    z-index: 9999999999;
}

.code-wrapper.code-wrapper-last .code {
    position: relative;
}

.code-wrapper.active .code {
    background: #f9f9f9;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    left: 16px;
    height: initial;
    margin-top: 15px;
    padding: 15px;
    right: 16px;
    opacity: 1;
    transition: 0.3s all ease-in-out;
    width: initial;
}

.popover {
    left: initial !important;
    right: 16px !important;
    top: 16px !important;
}
.platform-android .popover{
margin-top:10px;
}

/*Custom CSS*/
.menu-content {
    box-shadow: none;
}
.has-header{
    top: 100px;
}
.logo{
    margin-top: 80px;
}
.header-logo {
    background-color: #fff;
    background: url('../img/payomatic.png') center;
    background-size: auto 100%;
    height: 70px;
    margin: 15px auto 15px auto;
    background-repeat: no-repeat;
}

.bar-header {
    height: 100px;
    position: relative;
}
.bar-coordinate .buttons.header-item {
    position: absolute;
}
.bar-coordinate .home-button, .bar-coordinate .button.ion-navicon-round  {
    background-image: url('../img/icon-back.svg');
    width: 40px;
    height: 32px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 34px;
    margin-left: 15px;
    border-radius: 0;
}
.bar-coordinate .button.ion-navicon-round {
    background-image: url('../img/icon-menu.svg');
    min-width: 20px;
    min-height: 16px;
    margin-right:15px;
    margin-left: 20px;
    background-position: center;
}
.bar-coordinate .button.ion-navicon-round:before, .bar-coordinate .button.ion-plus:before {
    content: '';
}
.bar-coordinate .button.ion-plus {
    min-width: 50px;
    min-height: 50px;
    color: #fff;
    padding: 0;
    width: 25px;
    height: 25px;
    background-image: url('../img/icon-plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    box-shadow: none;
    margin-top: 25px;
}
.button.button-balanced {
    background-color: #a3bf31;
}
.button-balanced:hover, .bar .button-balanced:hover {
    background-color: #a3bf31;
    opacity: 0.8;
}
.bar-coordinate .button.ion-navicon-round:hover, .bar-coordinate .button.ion-plus:hover {
    opacity: 0.8;
}
.app-icon {
    background-color: #fff;
    background: url('../img/coordinate.png') center;
    background-size: cover;
    height: 38px;
    margin: 30px auto;
    width: 322px;

}
.app-logo{
    background-color: #fff;
    background: url('../img/payomatic.png') center;
    background-size: cover;
    height: 132px;
    margin: 0px auto;
    width: 222px;
}
.content h1{
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 38px;    
    margin-top:5px;
}
.login_form{
    background: none;
    border:none;
}
.login_form .item-input{
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #FFFFFF;
    border: none;
}
.login_form .item-input span{
    color: #008CC2;
}
.login_form .item-input input{
    color: #008CC2;
    font-size: 14px;   
}
.login_form button{
    margin-top: 25px !important;
}
.nav-bar-container .bar.bar-header .button + .title{
    text-align: center;
    color: white;
}
.bar .title {
    height: 100px;
}
.title .header_title .logo_title{
    float: left;
    width:25px;
    height:25px;
    margin-top:3px;
    margin-right: 5px;
    background: url('/img/logo.png');
    background-size: 25px 25px;
}
.bar-coordinate{
    background: #008CC2;
    box-shadow: none;
    padding: 0;
}
.bar-subheader label{
    font-size: 18px;
}
.menu-footer{
    background-color: #fff;
    background: url('../img/coordinate.png') center;
    background-size: cover;
    height: 22px;
    width: 190px;
    position: absolute;
    bottom: 20px;
    right: 10px;
    z-index: 20;
}
.priority-low{
    background-color: #00A651;
}
.priority-med-low{
    background-color: #FFC521;
}
.priority-med-high{
    background-color: #F7941E;
}
.priority-high{
    background-color: #ED1C24;
}
.task-title,
.task-subtitle{
    text-align: center;
}
.task-title {
    margin-bottom: 20px;
}
/*Coordinate CSS*/
.cor_contain{
    width:100%;
    height: 75vh;
    display: block;
    background: #5b5b5c;
    position:absolute;
}
.circle_chart{
    background: #5B5B5C;
    width: 320px;
    height: 320px;
    padding: 2%;
    margin: 10% auto;
}
.circle_chart .circle{
    border-radius:100%;
    background: #CCCCCC;
    border: 2px solid #FFFFFF;
    padding: 30px;
    float: left;
    margin: 10px;
    text-align: center;
}
.clear{
    clear: both;
}
span.border {
    position: relative;
    padding-right: 10px;
    margin-right: 10px;
}
span.border:before {
    border-right: 1px solid #c3ccd5;
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    margin-top: -5px;
    height: 10px;
}
/* footer */

.bar-footer{
    height: auto;
    padding: 5px 0;
}
.bar-footer .btn-task-action {
    min-width: 100px;
}
.top-tasks{
    width: 100%;
    height: auto;
    z-index: 3;
    float: none;
    clear: both;
}
.top-tasks .section-title label{
    width:50%;
    float: left;
    font-size: 16px;
    padding-left: 8px;
}
.top-tasks .section-title .coor_search{
    color: white;
    float: left;
    font-size: 23px;
    font-weight: bold;
    height: 25px;
    position: absolute;
    right: 5px;
    text-align: center;
    width: 25px;
}
.top-tasks a{
    text-decoration: none;
}
.top-tasks .bt_title{
    height: 10%;
    font-size: 15px;
    width: 50%;
    color: white;
    padding-left: 15px;
}
.top-tasks .top_task {
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #FFFFFF;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    padding: 0px 15px;
    display: block;
}
.top-tasks .top_task a {
    color: #fff;
    font-weight: 600;
    float: left;
}
.top-tasks .section-title {
    background-color: #fff;
    padding: 5px 15px;
    width: 100%;
}
.top-tasks .section-title h3 {
    margin: 13px 0 5px;
}
.top-tasks .top_task:last-child {
    border-bottom: 0;
}
/* end footer */

.red{
    background: #ED1C24 !important;
    color:white !important;
}
.yellow{
    background: #FFC521 !important;
    color:white !important;
}
.orange{
    background: #F7941E !important;
    color: white !important;
}
.green{
    background: #00A651 !important;
    color: white !important;
}
.white_overlay {
    color: #fff;
}
.white_overlay .item-input-inset {
    padding: 5px 15px;
}
.white_overlay .list {
    margin-bottom: 0; 
}
.white_overlay .list .item {
    background-color: #e9eef3;
}
.white_overlay .list label {
    margin-right: 10px;
    position: relative;
}
.white_overlay .list label:nth-child(4) {
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
}
.white_overlay .list label span {
    display: block;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.white_overlay .toggle input:checked + .track .handle {
    box-shadow: none;
}
.white_overlay input[type="text"] {
    width: 100%;
    background-color: #fff;
    border: 0;
    height: 40px;
    border-radius: 4px;
    padding-left: 15px;
}
.white_overlay .list label .button-search {
    border:0;
    background: none;
    color: #000;
    position: absolute;
    right: 10px;
    padding: 0;
    height: 40px;
}
.white_overlay .list label .button-search i {
    line-height: 40px;
    font-size: 24px;
}
.bg-set {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
}
.c_green_btn{
    background: rgba(176,210,53,1);
    background: -moz-linear-gradient(top, rgba(176,210,53,1) 0%, rgba(127,193,65,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(176,210,53,1)), color-stop(100%, rgba(127,193,65,1)));
    background: -webkit-linear-gradient(top, rgba(176,210,53,1) 0%, rgba(127,193,65,1) 100%);
    background: -o-linear-gradient(top, rgba(176,210,53,1) 0%, rgba(127,193,65,1) 100%);
    background: -ms-linear-gradient(top, rgba(176,210,53,1) 0%, rgba(127,193,65,1) 100%);
    background: linear-gradient(to bottom, rgba(176,210,53,1) 0%, rgba(127,193,65,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d235', endColorstr='#7fc141', GradientType=0 );
}
.c_yellow_btn{
    background: rgba(241,231,103,1);
    background: -moz-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(250,206,53,1) 68%, rgba(254,194,30,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(68%, rgba(250,206,53,1)), color-stop(100%, rgba(254,194,30,1)));
    background: -webkit-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(250,206,53,1) 68%, rgba(254,194,30,1) 100%);
    background: -o-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(250,206,53,1) 68%, rgba(254,194,30,1) 100%);
    background: -ms-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(250,206,53,1) 68%, rgba(254,194,30,1) 100%);
    background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(250,206,53,1) 68%, rgba(254,194,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#fec21e', GradientType=0 );
}
.c_red_btn{
    background: rgba(239,68,70,1);
    background: -moz-linear-gradient(top, rgba(239,68,70,1) 0%, rgba(217,24,27,1) 50%, rgba(239,68,70,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(239,68,70,1)), color-stop(50%, rgba(217,24,27,1)), color-stop(100%, rgba(239,68,70,1)));
    background: -webkit-linear-gradient(top, rgba(239,68,70,1) 0%, rgba(217,24,27,1) 50%, rgba(239,68,70,1) 100%);
    background: -o-linear-gradient(top, rgba(239,68,70,1) 0%, rgba(217,24,27,1) 50%, rgba(239,68,70,1) 100%);
    background: -ms-linear-gradient(top, rgba(239,68,70,1) 0%, rgba(217,24,27,1) 50%, rgba(239,68,70,1) 100%);
    background: linear-gradient(to bottom, rgba(239,68,70,1) 0%, rgba(217,24,27,1) 50%, rgba(239,68,70,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef4446', endColorstr='#ef4446', GradientType=0 );
}

.circle_contain .circle span{
    bottom: 8px;
    left: 0;
    color: white;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    width: 100%;
}
.circle_contain .small span{
    bottom: 0px;
    font-size: 12px;
}
.circle_contain .big span, .circle_contain .bigest span{
    bottom: 17px;
}
/*Circle Custom*/
.circle_contain {
  z-index: 5;
}

.circle_contain .circle {
  width: 100px;
  height: 100px;
  background-color: white;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 90px;
  color: #006FCC;
  text-align: center;
  border-radius: 50%;
  list-style: none;
  cursor: pointer;
  border: 3px solid #FFFFFF;
  position: absolute;
  text-decoration: none;
}
.circle_contain .circle.small {
  width: 60px;
  height: 60px;
  line-height: 50px;
  font-size: 30px;
}
.circle_contain .circle.big {
  width: 130px;
  height: 130px;
  line-height: 120px;
  font-size: 60px;
}
.circle_contain .circle.bigest {
  width: 150px;
  height: 150px;
  line-height: 140px;
  font-size: 70px;
}
.circle_contain .circle:nth-child(even) {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    float: right;
}
.circle_contain .circle:nth-child(odd) {
    -webkit-align-self: flex-start;
    align-self: flex-start;
}   

.circle_contain .circle:nth-child(1){
    left: 15px;
    top:10px;
}

.circle_contain .circle:nth-child(2){
    right: 15px;
    top:20px;
}

.circle_contain .circle:nth-child(3){
    left: 30px;
    bottom:35px;
}

.circle_contain .circle:nth-child(4){
    right: 20px;
    bottom:35px;
}
.box{
    height: 200px;
}
.countdown-bar{
    padding: 15px;
    background-color: #e9eef3;
}
.countdown-bar .countdown-label {
  font-size: 30px;
  line-height: 67px;
  color: #ffffff;
  font-weight: bold;
}
.countdown-bar.low {
  background-color: #70AD47;
}
.countdown-bar.med-low {
  background-color: #FFC000;
}
.countdown-bar.med-high {
  background-color: #FF6600;
}
.countdown-bar.high {
  background-color: #ed2628;
}
.countdown > div{
    float: left;
    border-right: 1px solid #008cc2;
    text-align: center;
}
.countdown > div:last-child{
    border-right: none;
}
.countdown .number{
    font-size: 32px;
}
.countdown .desc{
    text-transform: uppercase;
}
.lead-message {
}
.lead-message .lead-message-head {
  margin: 35px 0 15px;
}
.lead-message .lead-message-body {
  margin: 5px 0;
  padding: 25px;
  font-size: 19px;
}
.button-coordinate{
    background-color: #008cc2;
    color: #fff;
}
.task_slide_detail{
    width: 100%;
    padding: 15px;
    display: table;
}
.task_slide_detail div{
    margin: 5px 0;
}
.task_slide_detail .task-title,
.task_slide_detail .task-description,
.task_slide_detail .task-pictures{
    margin: 30px 0;
    text-align: center;
}
.task_slide_detail .task-description {
    margin-top: 20px;
    margin-bottom: 20px;
}
.task_slide_detail .task-pictures {
    margin-top: 20px;
}
.task-created,
.task-due-date,
.task-project{
    text-align: center;
    font-size: 11px;
    font-weight: 600;
}
.task-created span,
.task-due-date span,
.task-project span{
    font-weight: 400;
    color: rgba(40,47,56,0.7);
    margin-right: 5px;
}
.task-due-date span.border {
    color: #000;
    font-weight: 600;
}
.task_slide_detail .play_video{
    position: absolute;
    bottom: 12px;
    right: 12px;
    color: #FFFFFF;
    border: 3px solid white;
    width:30px;
    height: 30px;
    border-radius: 50%;
    line-height: 25px;
}
.task_slide_detail .play_video i{
    font-size: 16px;
    margin-left: 9px;
}
.task_slide_detail .task-meta {
    padding-top: 25px;
    font-size: 11px;
    color: rgba(40,47,56,.7);
}
.task_slide_detail .task-meta .button.button-map, .task_slide_detail .task-meta .button.button-date {
    border: 1px solid #0062a1;
    background-color: transparent;
    color: #0062a1;
    font-size: 10px;
    font-weight: 600;
    height: 19px;
    line-height: 19px;
    min-height: 19px;
    padding: 0 10px;
    min-width: 90px;
    margin-left: 1px;
}
.task_slide_detail .task-meta .button.button-date {
    border: 1px solid rgba(40,47,56,.7);
    color: rgba(40,47,56,.7);
}
.task_slide_detail .ts_left{
    display: table;
    float: left;
    width: 13%;
    font-size: 15px;
}
.task_slide_detail .ts_right{
    display: table;
    float: left;
    width: 87%;
    font-size: 15px;
}
.task_slide_detail .ts_right p{
    line-height: 20px;
    font-size: 16px;
}
.task_slide_detail .task-title {
    margin-top: 15px;
    margin-bottom: 10px;
    position: relative;
}
.task_slide_detail .task-title:before {
    position: absolute;
    content: '';
    left: 50%;
    width: 50px;
    border-top: 1px solid #0062a1;
    margin-left: -25px;
    bottom: -10px;
}
.task_slide_detail .task-pictures {
    margin-bottom: 10px;
}
.task_slide_detail .task-pictures img {
    border-radius: 6px;
    margin: 0 auto;
    width: 100%;
    max-width: 60px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(40,47,56,0.3);
    box-shadow: 0 1px 2px 0 rgba(40,47,56,0.3);
}
.pane img.fullscreen-image {
    width: 100%;
}
.pane .fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
.transparent.pane {
    background-color: rgba(255,255,255,0.7);
}
.modal {
    background-color: transparent;
    padding: 15px;
    overflow: hidden;
}
.pane img.fullscreen-image {
    width: 100%;
}
.top-tasks .tags{
    display: table;
    width: 100%;
    margin: 0px auto;
    text-align: center;
}
.tags .tags_inside{
    width: auto;
    display: table;
    margin:3% auto;
}
.tags_inside .tag{
    background: #D1D2D4;
    color: black;
    padding: 3px 15px;
    width: auto;
    display: table;
    float: left;
    border-radius:100px;
    text-decoration: underline;
    margin: 0px 5px 0px 5px;
    font-size: 12px;
}
.tags .tag:nth-child(2){
    margin-left: 10px;
}

.top-tasks .bottom_btns{
    padding:5px 0px 15px 0px;
    margin: 0px auto;
    display: table;
}

.bottom_btns .dele_btn, .bottom_btns .resolve_btn, .bottom_btns .escal_btn{
    padding: 5px;
    color: #FFFFFF;
    font-size: 19px;
    border-radius: 7px;
}
.bottom_btns .dele_btn{
    border: 1px solid #FDDF61;
    position: relative;
    padding: 5px 15px 5px 10px;
}

.bottom_btns .resolve_btn{
    border: 1px solid #749B3F;
    padding: 5px 25px;
    margin-left: 10px;
}

.bottom_btns .escal_btn{
    border: 1px solid #D5262C;
    margin-left: 10px;
    position: relative;
    padding: 5px 10px 5px 15px;
}

.bottom_btns button i{
}

.bottom_btns button .d{
    position: absolute;
    right:2px;
    bottom: 2px;
    font-size: 17px;
    font-weight: bold;
}
.bottom_btns button .e{
    position: absolute;
    left:2px;
    bottom: 2px;
    font-size: 17px;
    font-weight: bold;
}
.task-list {
    margin-top: 5px;
    padding: 10px 20px;
}
.task-list .task {
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    background-color: #0062a1;
    padding: 8px;
}
.task-list .task .trigger {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.task-list .task p, .task-list .task h3 {
    color: #fff;
    margin: 0;
}
.task-list .task h3 {
    margin-bottom: 6px;
    font-size: 50px;
    margin-top: 20px;
}
.task-list .task p {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 30px;
}
ul.time {
    list-style: none;
}
ul.time li {
    display: inline-block;
    font-size: 26px;
    color: #fff;
    font-weight: 700;
    border-right: 1px solid #fff;
    text-align: center;
    padding: 0 15px;
    float: left;
}
ul.time li:first-child {
    padding-left: 0;
}
ul.time li:last-child {
    border-right: 0;
    padding-right: 0;
}
ul.time li span {
    display: block;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 10px;
    margin-top: 12px;
}

.reassigns .desc {
    font-size: 11px;
    font-weight: 600;
    color: #fff;
}
.reassigns label {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

h3.resolution-title {
    margin-top: 30px;
    margin-bottom: 15px;
}
.task_slide_detail .resolution, .task_slide_detail .resolution div {
    margin: 0;
}
.resolution {
    border-top: 1px solid #e9eef3;
    border-left: 1px solid #e9eef3;
    border-right: 1px solid #e9eef3;
    display: block;
    padding: 10px;
    margin-bottom: 0;
}
.resolution:last-child {
    border-bottom: 1px solid #e9eef3;
    margin-bottom: 20px;
}
.resolution h4 {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #000;
}
.resolution h4 span {
    background-color: #A3BF38;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 3px 5px;
    border-radius: 6px;
}
.resolution p {
    margin-bottom: 0;
}

.row.no-padding, .col.no-padding {
    padding: 0;
}

.ng-pristine::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #000;
}
.ng-pristine:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
    opacity:  1;
}
.ng-pristine::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
    opacity:  1;
}
.ng-pristine:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #000;
}
.ng-pristine:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color:    #000;
}

@media (max-device-width:325px){
    .all-elements .circle_contain a:nth-child(even) {
        -webkit-align-self: center;
        align-self: center;
        float: right;
    }
    .all-elements .circle_contain a:nth-child(odd) {
        -webkit-align-self: center;
        align-self: center;
    }       
    .all-elements .circle_contain {
      top: 37%;
      -webkit-transform: translateY(-33%);
      -moz-transform: translateY(-33%);
      -ms-transform: translateY(-33%);
    }
    .all-elements .circle_contain a {
      width: 100px;
      height: 100px;
      font-size: 50px;
      line-height: 90px;
      float: left;
    }
    .all-elements .circle_contain a:nth-child(3){
        bottom: 70px;
    }

    .all-elements .circle_contain a:nth-child(4){
        bottom: 30px;   
    }

}

@media screen and (min-device-width: 325px) and (max-device-width: 361px){
  /* some CSS here */
    .all-elements .circle_contain {
      top: 40%;
      -webkit-transform: translateY(-40%);
      -moz-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
      padding: 0px 15px;
    }

    .all-elements .circle_contain a {
      width: 110px;
      height: 110px;
      font-size: 50px;
      line-height: 100px;
    }
}
@media screen and (min-device-width: 362px) and (max-device-width: 700px){
    .all-elements .circle_contain {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
    }
}